a:visited {
  color: #681da8;
}

.result-item {
  margin: 12px;
}

.container {
  padding-top: 15px;
}
.de-emp {
  font-size: 0.9em;
  opacity: 0.8;
}
#nav-top {
  z-index: 100;
  transform: scaleY(1);
  transition-duration: 0.2s;
  transform-origin: top;
}
#nav-top.dn {
  transform: scaleY(0);
}

.uci-blue {
  color: #0064a4;
}

#form-container {
  background: linear-gradient(rgb(233, 238, 252) 50%, transparent 50%) no-repeat;
}

#h1-container {
  background-color: rgb(233, 238, 252);
}

.radius-left {
  border-radius: 0.375rem 0 0 0.375rem;
  margin-right: 0;
}
.radius-right {
  border-radius: 0 0.375rem 0.375rem 0;
  margin-left: 0;
}

.border-grey {
  border-color: #ced4da;
}
#searchform button[type="submit"]:hover {
  color: #0064a4;
  border-color: #ced4da;
}
