<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <style>
      a:visited {
        color: #681da8;
      }

      body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      h1 {
        text-align: center;
        margin-bottom: 15px;
      }
      .container {
        padding-top: 15px;
      }
    </style>
    <title>zot search</title>
  </head>
  <body>
    <div class="container">
      <h1>Zot Search</h1>
      <form
        class="d-flex"
        role="search"
        id="searchform"
        method="get"
        action="/search"
      >
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search..."
          aria-label="Search"
          id="query"
          name="query"
        />
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
    <script>
      let searchform = document.getElementById("searchform");

      function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(window.location.href);
        if (results == null) return "";
        else return decodeURIComponent(results[1].replace(/\+/g, " "));
      }
      let query_input = document.getElementById("query");
      searchform.onsubmit = function (e) {
        if (query_input.value.trim() == "") {
          e.preventDefault();
        } else {
          return true;
        }
      };
    </script>
  </body>
</html>
